        @font-face {
            font-family:"Outfit";
            src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
            }

        @font-face {
            font-family: "Young Serif";
            src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
        }

        body {
            margin: auto;
            place-items: center;
            color: hsl(30, 10%, 34%);
            font-size: 16px;
            font-weight: 400;
            font-family: "Outfit";
            line-height: 1rem;
            background-color: hsl(30, 54%, 90%);
            margin-top: 125px;
            margin-bottom: 125px;
            line-height: 1.6rem;
        }

        #actually-body {
            background-color: hsl(0, 0%, 100%);
            border-radius: 10px;
            padding: 35px;
            max-width: 42%;
            min-width: 320px;
        }

        h1 {
            color: hsl(24, 5%, 18%);
            font-weight: 400;
            font-family: "Young Serif";
            line-height: normal;
        }

        h2 {
            color: hsl(14, 45%, 36%);
            font-weight: 400;
            font-family: "Young Serif";
        }

        h3 {
            color: hsl(332, 51%, 32%);
            font-weight: 700;
        }

        #preparation-pink-box {
            background-color: hsl(330, 100%, 98%);
            border-radius: 10px;
            padding: 5px 20px 10px 20px;
            margin-bottom: 1.8rem;
            li {color:hsl(332, 51%, 32%);}
            li span {color: hsl(30, 10%, 34%);}
            ul li {padding-left: 10px;}
            ul li::marker {font-size: 0.75rem;}
            line-height: 1.8rem;
        }

        #ingredient-list {
            li { color: hsl(14, 45%, 36%); margin-bottom: 1.2rem; padding-left: 10px;}
            li span {color: hsl(30, 10%, 34%);}
            li::marker {font-size: 0.75rem;}
            line-height: 1.2rem;
        }

        #instruction-list {
            li {color: hsl(14, 45%, 36%); font-weight: 600; margin-bottom: 1.2rem;  padding-left: 10px;}
            li span {color: hsl(30, 10%, 34%); font-weight: 400;}
            line-height: 1rem;
        }

        #table {
            border-collapse: collapse;
            width: 100%;
            line-height: 2rem;
        }

        tr {
            border-bottom: 1px solid hsl(30, 18%, 87%);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        b {
            font-weight: 700;
        }

        #calculation {
            padding-left: 45px;
            padding-bottom: 20px;
        }
